.section_type_about
  background: url('../img/description.jpg') 50% 0 no-repeat
  height: 1002px
  position: relative
  top: -70px

  .section__body
    max-width: 980px
    margin: auto
    padding-top: 214px
