mixin main-header__logo(props)
  - props = typeof props != 'undefined' ? props : {}
  - var mods = props.mods || {}
  - var tag = props.tag || 'img'
  - var attrs = props.attrs || {}

  - var data = props.data || {}

  #{tag}.main-header__logo(
    class= mods.type ? 'main-header__logo_type_' + mods.type : ''
    src= data.img
    alt= data.alt
  )&attributes(attrs)

