.section__title
  font: 24px/30px $secondaryFont
  text-align: center
  letter-spacing: -0.02em
  color: $textPrimaryColor

  +respond-to($tablet-portrait)
    font-size: 30px
    line-height: 36px

  +respond-to($desktop)
    font-size: 48px
    line-height: 54px
