.menu_type_main
  font-size: 0

  .menu__item
    display: inline-block
    vertical-align: top
    font-size: 16px
    font-weight: bold

    &:not(:last-child)
      margin-right: 16px

  .menu__link
    color: #fdfffc
    text-decoration: none
    display: block
    padding: 14px 16px 16px
    border: 2px solid transparent

  .menu__item_current
    position: relative

    &::after
      position: absolute
      content: ''
      width: 4px
      height: 4px
      background: #fafbfd
      border-radius: 50%
      bottom: 14px
      left: 50%
      transform: translateX(-50%)

  .menu__link_type_callback
    border: 2px solid #5489c3
    border-radius: 30px
    padding: 14px 33px 16px
    margin-left: 37px
    transition: border-color .2s
    will-change: border-color

    &:hover
      border-color: rgba(#fdfffc, .5)

