.button_type_primary
  background: #e70067
  color: #fff
  font-size: 16px
  font-weight: 500
  border-radius: 60px
  padding: 22px 32px
  transition: background-color .2s
  will-change: background-color

  &:hover
    background: darken(#e70067, 4)
