include __logo/=main-header__logo
include __navigation/=main-header__navigation

mixin main-header(props)
  - props = typeof props != 'undefined' ? props : {}
  - var mods = props.mods || {}
  - var tag = props.tag || 'div'
  - var attrs = props.attrs || {}

  #{tag}.main-header(
    class= mods.type ? 'main-header_type_' + mods.type : ''
  )&attributes(attrs)
    block
