mixin main-header__navigation(props)
  - props = typeof props != 'undefined' ? props : {}
  - var mods = props.mods || {}
  - var tag = props.tag || 'nav'
  - var attrs = props.attrs || {}

  #{tag}.main-header__navigation(
    class= mods.type ? 'main-header__navigation_type_' + mods.type : ''
  )&attributes(attrs)
    block
