.about
  color: #60759d
  font-size: 0
  padding-left: 32px

.about__image-box
  display: inline-block
  margin-right: 42px

.about__body
  padding-top: 85px
  max-width: 570px
  display: inline-block
  vertical-align: top

.about__title
  font: 500 36px/54px $primaryFont
  margin-bottom: 16px

.about__text
  font: 500 16px/24px $primaryFont
  padding-left: 2px
  margin-bottom: 17px

.about__actions
  margin-top: 36px
