.pagination_type_carousel
  border: 1px solid #5489c3
  border-radius: 8px
  display: inline-block
  padding: 0 15px
  font-size: 0

  .pagination__item
    display: inline-block
    position: relative
    width: 16px
    height: 14px
    cursor: pointer

    &:not(:last-child)
      margin-right: 8px

    &::before
      content: ''
      position: absolute
      width: 100%
      height: 1px
      left: 0
      top: 50%
      transform: translateY(-50%)
      background: #5489c3

  .pagination__item_current
    &::before
      background: #fafbfd
