extends ../layouts/@main

block includes
  include ../components/page/=page
  include ../components/main-header/=main-header
  include ../components/link/=link
  include ../components/menu/=menu
  include ../components/section/=section
  include ../components/button/=button

block title
  title Тестовое задание

block body
  +page
    +page__header
      +main-header
        +main-header__logo({
          data: {
            img: 'img/main-header__logo.png',
            alt: 'Логотип'
          }
        })

        +main-header__navigation
          +menu({
            mods: {type: 'main'},
            data: [
              {title: 'О сервисе'},
              {title: 'Функции'},
              {title: 'Возможности', current: true},
              {title: 'Партнеры'},
              {title: 'Оставить заявку', type: 'callback', href: 'http://yandex.ru'}
            ]
          })

    +page__body
      +section({
        mods: {type: 'welcome'}
      })
        .carousel.carousel_type_main
          .carouser__list
            .carousel__item
              h3.carousel__title Расширяем возможности предоставления качественных медицинских услуг

              p.carousel__text &laquo;Дневник здоровья&raquo;&nbsp;&mdash; новый сервис для самоконтроля показателей состояния здоровья, разработанный для участников программы &laquo;Мое здоровье&raquo;.

              .carousel__actions
                +button({
                  mods: {type: 'primary'}
                }) Узнать больше

          .carousel__pagination.pagination.pagination_type_carousel
            span.pagination__item.pagination__item_current 1
            span.pagination__item 2


      +section({
        mods: {type: 'about'}
      })
        .about
          .about__image-box
            img.about__image(src="img/about-app.png" alt="Изображение мобильного приложения")/

          .about__body
            h2.about__title Что такое &laquo;Дневник здоровья&raquo;?

            p.about__text Дневник пациента&nbsp;&mdash; это удобный онлайн-сервис:

            ul.list.list_type_about
              li.list__item Вносите результаты измерений вручную или с&nbsp;помощью интегрированных приборов

              li.list__item Ведите персональную медицинскую карту с&nbsp;историей ваших измерений
              li.list__item Делитесь результатами измерений со&nbsp;специалистами для повышения эффективности лечения

              li.list__item Получайте рекомендации, созданные специально для вас

            .about__actions
              +button({
                mods: {type: 'primary'}
              }) Оставить заявку

block scripts
  script(type='text/javascript' src='js/app.min.js')
