.list_type_about
  .list__item
    position: relative
    font: 500 16px/24px $primaryFont
    padding-left: 16px

    &:not(:last-child)
      margin-bottom: 16px

    &::before
      content: ''
      position: absolute
      left: 1px
      top: 9px
      width: 5px
      height: 5px
      border-radius: 50%
      background: #16afe0
