.carousel_type_main
  max-width: 760px
  margin: auto
  overflow: hidden
  color: #fff
  text-align: center

  .carousel__item
    min-height: 505px
    max-height: 505px
    overflow: hidden

  .carousel__title
    margin-bottom: 35px
    font: 500 36px/54px $primaryFont

  .carousel__text
    font: 500 24px/36px $primaryFont

  .carousel__actions
    margin-top: 46px

  .carousel__pagination
    text-align: center

