.section_type_welcome
  height: 751px
  position: relative
  overflow: hidden

  &::after
    position: absolute
    content: ''
    bottom: 0
    left: 50%
    background: url('../img/section_type_welcome.jpg') 50% 100% no-repeat
    background-size: 1920px 751px
    transform: translateX(-50%)
    width: 16000px
    height: 16000px
    z-index: 1
    border-radius: 50%

  .section__body
    position: relative
    z-index: 2
    padding-top: 182px
