mixin section(props)
  - props = typeof props != 'undefined' ? props : {}
  - var mods  = props.mods || {}
  - var tag   = props.tag || 'section'
  - var attrs = props.attrs || {}

  - var title = props.title || false
  - var description = props.description || false

  #{tag}.section(
    class= mods.type ? 'section_type_' + mods.type : ''
  )&attributes(attrs)
    if (title || description)
      .section__header
        if title
          h2.section__title!= title

        if description
          p.section__description!= description

    .section__body
      block
