@font-face
  font-family: 'Cera Round Pro'
  src: local('Cera Round Pro'), local('Cera Round Pro'), url('../fonts/font__cera-round-pro_regular.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Cera Round Pro'
  src: local('Cera Round Pro'), local('Cera Round Pro'), url('../fonts/font__cera-round-pro_medium.woff') format('woff')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Cera Round Pro'
  src: local('Cera Round Pro'), local('Cera Round Pro'), url('../fonts/font__cera-round-pro_bold.woff') format('woff')
  font-weight: bold
  font-style: normal
