mixin page__body(props)
  - props = typeof props != 'undefined' ? props : {}
  - var mods  = props.mods || {}
  - var tag   = props.tag || 'div'
  - var attrs = props.attrs || {}

  #{tag}.page__body(
    class= mods.type ? 'page__body_type_' + mods.type : ''
  )&attributes(attrs)
    block
